$asset-folder: "http://www.robotinaponcho.net/crap/";
$base-font-size: 100%;
$base-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-line-height: 1.5em;
$post-background-colour: #ffffff;
$post-foreground-colour: #000000;
$post-metadata-foreground-colour: lighten($post-foreground-colour, 75);
$page-background-colour: #f6233c;
$page-foreground-colour: #ffffff;
