-# Copyright (C) 2013 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%head{:lang => "en"}
  %meta{:charset => "utf-8"}
  %title<
    %tumblrblockDayPage> Posts From {DayOfMonth} {Month}, {Year} //&nbsp;
    %tumblrblockTagPage> Posts Tagged With &ldquo;{Tag}&rdquo; //&nbsp;
    %tumblrblockSearchPage> Search Results For &ldquo;{SearchQuery}&rdquo; //&nbsp;
    %tumblrblockPostSummary> {PostSummary} //&nbsp;
    {Title}
  %tumblrblockDescription
    %meta{:content => "{MetaDescription}", :name => "description"}
  %link{:href => "{RSS}", :rel => "alternate", :type => "application/rss+xml"}
  %link{:href => "{PortraitURL-128}", :rel => "apple-touch-icon"}
  %link{:href => "{Favicon}", :rel => "shortcut icon"}
  %link{:href => "http://www.robotinaponcho.net/obtaincornhoop/style.css", :rel => "stylesheet"}
  %script{:src => "http://use.typekit.com/gwe8uye.js"}
  %script try{Typekit.load();}catch(e){}
%body
  %header.layout-siteheader
    .siteheader
      .siteheader__container
        .siteheader__container__sitetitle
          .sitetitle
            %h1.sitetitle__mainheader {Title}
        .siteheader__container__sitenavigation
          %nav.navigation
            %ul.navigation__linklist
              %li.navigation__linklist__item>
                %a{:class => "navigation__linklist__item__button", :href => "/"} Home
              %li.navigation__linklist__item>
                %a{:class => "navigation__linklist__item__button", :href => "/archive"} Archives
              %li.navigation__linklist__item>
                %a{:class => "navigation__linklist__item__button", :href => "/about"} About
              %tumblrblockAskEnabled
                %li.navigation__linklist__item>
                  %a{:class => "navigation__linklist__item__button", :href => "/ask"} Ask
  %div.layout-content
    %section.layout-content__content.layout-content__content--maincontent
      %tumblrblockDayPage
        .pagetitle
          %h2.pagetitle__title Posts from {DayOfMonth} {Month}, {Year}
      %tumblrblockTagPage
        .pagetitle
          %h2.pagetitle__title Posts Tagged With &ldquo;<i>{Tag}</i>&rdquo;
      %tumblrblockSearchPage
        .pagetitle
          %h2.pagetitle__title Search Results For &ldquo;<i>{SearchQuery}</i>&rdquo;
      %tumblrblockPosts
        %article.post
          %tumblrblockText
            %section.postbody
              %tumblrblockTitle
                %h1 {Title}
              {Body}
          %tumblrblockPhotoset
            %section.postbody
              \{Photoset-500}
              %tumblrblockCaption {Caption}
          %tumblrblockPhoto
            %section.postbody
              \{LinkOpenTag}
              %img.main{:alt => "{PhotoAlt}", :src => "{PhotoURL-500}"}>
              \{LinkCloseTag}
              %tumblrblockCaption {Caption}
          %tumblrblockQuote
            %section.postbody
              %p <q>{Quote}</q>
              %tumblrblockSource
                %p.quote-attribution &mdash; {Source}
          %tumblrblockVideo
            %section.postbody
              \{Video-500}
              %tumblrblockCaption {Caption}
          %tumblrblockDate
            %section.postmetadata
              %ul.postmetadata__metadatalist
                %tumblrblockReblog
                  %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--date
                    <a href="{Permalink}">Reblogged {TimeAgo}</a> from {ReblogParentName}
                %tumblrblockNotReblog
                  %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--date
                    <a href="{Permalink}">Posted {TimeAgo}</a>
                %tumblrblockContentSource
                  %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--source
                    Source: <a href="{SourceURL}">{SourceTitle}</a>
                %tumblrblockHasTags
                  %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--tags
                    Tagged with:
                    %ul.postmetadata__metadatalist__item--tags__taglist
                      %tumblrblockTags
                        %li.postmetadata__metadatalist__item--tags__taglist__item<
                          %a{:href => "{TagURL}"} {Tag}
                %tumblrblockIndexPage
                  %tumblrblockNoteCount
                    %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--notes
                      This post has <a href="{Permalink}#notes">{NoteCountWithLabel}</a>
          %tumblrblockPostNotes
            %section.postnotes
              %a{:name => "notes"}
              {PostNotes}
      %tumblrblockNoSearchResults
        %article.post
          %section.postbody
            %p Nothing :(
      %tumblrblockPagination
        %nav.pagenavigation
          %div.navigation
            %ul.navigation__linklist
              %tumblrblockPreviousPage
                %li.navigation__linklist__item.navigation__linklist__item--previouslink 
                  %a{:class => "navigation__linklist__item__button", :href => "{PreviousPage}"} Newer posts
              %tumblrblockNextPage
                %li.navigation__linklist__item.navigation__linklist__item--nextlink
                  %a{:class => "navigation__linklist__item__button", :href => "{NextPage}"} Older posts
      %tumblrblockDayPagination
        %nav.pagenavigation
          %div.navigation
            %ul.navigation__linklist
              %tumblrblockPreviousDayPage
                %li.navigation__linklist__item.navigation__linklist__item--previouslink 
                  %a{:class => "navigation__linklist__item__button", :href => "{PreviousDayPage}"} {DayOfMonth} {Month}, {Year}
              %tumblrblockNextDayPage
                %li.navigation__linklist__item.navigation__linklist__item--nextlink
                  %a{:class => "navigation__linklist__item__button", :href => "{NextDayPage}"} {DayOfMonth} {Month}, {Year}
