-# Copyright (C) 2013 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%head{:lang => "en"}
  %meta{:charset => "utf-8"}
  %title<
    %tumblrblockDayPage> Posts From {DayOfMonth} {Month}, {Year} //&nbsp;
    %tumblrblockTagPage> Posts Tagged With &ldquo;{Tag}&rdquo; //&nbsp;
    %tumblrblockSearchPage> Search Results For &ldquo;{SearchQuery}&rdquo; //&nbsp;
    %tumblrblockPostSummary> {PostSummary} //&nbsp;
    {Title}
  %tumblrblockDescription
    %meta{:content => "{MetaDescription}", :name => "description"}
  %meta{:content => "initial-scale=1, width=device-width", :name => "viewport"}
  %link{:href => "{RSS}", :rel => "alternate", :type => "application/rss+xml"}
  %link{:href => "{PortraitURL-128}", :rel => "apple-touch-icon"}
  %link{:href => "{Favicon}", :rel => "shortcut icon"}
  %link{:href => "http://www.robotinaponcho.net/crap/blog-style.css", :rel => "stylesheet"}
%body
  %hgroup
    %h1<
      %a{:href => "/"}<
        %img#corn{:src => "http://www.robotinaponcho.net/crap/blog-header.png"}
    %tumblrblockDayPage
      %h2 Posts from {DayOfMonth} {Month}, {Year}
    %tumblrblockTagPage
      %h2 Posts Tagged With &ldquo;<i>{Tag}</i>&rdquo;
    %tumblrblockSearchPage
      %h2 Search Results For &ldquo;<i>{SearchQuery}</i>&rdquo;
  %tumblrblockPosts
    %article.layout-post
      %tumblrblockText
        %section.postbody
          %tumblrblockTitle
            %h1 <a href="{Permalink}">{Title}</a>
          {Body}
      %tumblrblockPhoto
        %section.postbody
          \{LinkOpenTag}
          %img.main{:alt => "{PhotoAlt}", :src => "{PhotoURL-500}"}>
          \{LinkCloseTag}
          %tumblrblockCaption {Caption}
      %tumblrblockQuote
        %section.postbody
          %p <q>{Quote}</q>
          %tumblrblockSource
            %p.quote-attribution &mdash; {Source}
      %tumblrblockVideo
        %section.postbody
          \{Video-500}
          %tumblrblockCaption {Caption}
      %tumblrblockDate
        %section.postmetadata
          %ul.postmetadata__metadatalist
            %tumblrblockReblog
              %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--date
                <a href="{Permalink}">Reblogged {TimeAgo}</a> from {ReblogParentName}
            %tumblrblockNotReblog
              %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--date
                <a href="{Permalink}">Posted {TimeAgo}</a>
            %tumblrblockContentSource
              %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--source
                Source: <a href="{SourceURL}">{SourceTitle}</a>
            %tumblrblockHasTags
              %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--tags
                Tagged with:
                %ul.postmetadata__metadatalist__item--tags__taglist
                  %tumblrblockTags
                    %li.postmetadata__metadatalist__item--tags__taglist__item<
                      %a{:href => "{TagURL}"} {Tag}
            %tumblrblockIndexPage
              %tumblrblockNoteCount
                %li.postmetadata__metadatalist__item.postmetadata__metadatalist__item--notes
                  This post has <a href="{Permalink}#notes">{NoteCountWithLabel}</a>
      %tumblrblockPostNotes
        %section.postnotes
          %a{:name => "notes"}
          {PostNotes}
  %tumblrblockNoSearchResults
    %article.layout-post
      %section.postbody
        %p Nothing :(
  %tumblrblockPagination
    %nav.layout-pagenavigation
      %div.pager-navigation
        %ul.pager
          %tumblrblockPreviousPage
            %li.previous-link <a class="button" href="{PreviousPage}">Newer posts</a>
          %tumblrblockNextPage
            %li.next-link <a class="button" href="{NextPage}">Older posts</a>
