-# Copyright (C) 2013 Damien Dart, <damiendart@pobox.com>.
-# This file is distributed under the MIT licence. For more information,
-# please refer to the accompanying "LICENCE" file.

!!! 5
%head{:lang => "en"}
  %meta{:charset => "utf-8"}
  %title<
    %tumblrblockDayPage> Posts From {DayOfMonth} {Month}, {Year} //&nbsp;
    %tumblrblockTagPage> Posts Tagged With &ldquo;{Tag}&rdquo; //&nbsp;
    %tumblrblockSearchPage> Search Results For &ldquo;{SearchQuery}&rdquo; //&nbsp;
    %tumblrblockPostSummary> {PostSummary} //&nbsp;
    {Title}
  %tumblrblockDescription
    %meta{:content => "{MetaDescription}", :name => "description"}
  %meta{:content => "initial-scale=1, width=device-width", :name => "viewport"}
  %link{:href => "{RSS}", :rel => "alternate", :type => "application/rss+xml"}
  %link{:href => "{PortraitURL-128}", :rel => "apple-touch-icon"}
  %link{:href => "{Favicon}", :rel => "shortcut icon"}
  %link{:href => "http://www.robotinaponcho.net/crap/blog-style.css", :rel => "stylesheet"}
%body
  %hgroup
    %h1<
      %a{:href => "/"}<
        %img#corn{:src => "http://www.robotinaponcho.net/crap/blog-header.png"}
    %tumblrblockDayPage
      %h2 Posts from {DayOfMonth} {Month}, {Year}
    %tumblrblockTagPage
      %h2 Posts Tagged With &ldquo;<i>{Tag}</i>&rdquo;
    %tumblrblockSearchPage
      %h2 Search Results For &ldquo;<i>{SearchQuery}</i>&rdquo;
  %tumblrblockPosts
    %article
      %section.post
        %tumblrblockText
          %div.post-body
            %tumblrblockTitle
              %h1 <a href="{Permalink}">{Title}</a>
            {Body}
        %tumblrblockPhoto
          %div.post-body
            \{LinkOpenTag}
            %img.main{:alt => "{PhotoAlt}", :src => "{PhotoURL-500}"}>
            \{LinkCloseTag}
            %tumblrblockCaption {Caption}
        %tumblrblockQuote
          %div.post-body
            %p <q>{Quote}</q>
            %tumblrblockSource
              %p.quote-attribution &mdash; {Source}
        %tumblrblockVideo
          %div.post-body
            \{Video-500}
            %tumblrblockCaption {Caption}
        %tumblrblockDate
          %div.post-metadata
            %ul.metadata-list
              %tumblrblockReblog
                %li.metadata-date <a href="{Permalink}">Reblogged {TimeAgo}</a> from {ReblogParentName}
              %tumblrblockNotReblog
                %li.metadata-date <a href="{Permalink}">Posted {TimeAgo}</a>
              %tumblrblockContentSource
                %li.metadata-source Source: <a href="{SourceURL}">{SourceTitle}</a>
              %tumblrblockHasTags
                %li.metadata-tags
                  Tagged with:
                  %ul.tag-list
                    %tumblrblockTags
                      %li.tag<
                        %a{:href => "{TagURL}"} {Tag}
              %tumblrblockIndexPage
                %tumblrblockNoteCount
                  %li.metadata-notes
                    This post has <a href="{Permalink}#notes">{NoteCountWithLabel}</a>
    %tumblrblockPostNotes
      %a{:name => "notes"}
      %section.comments
        %div.tumblr-notes
          \{PostNotes}
  %tumblrblockNoSearchResults
    %article.post
      %p Nothing :(
  %tumblrblockPagination
    %nav
      %ul.page-nav
        %tumblrblockPreviousPage
          %li.newer <a class="button" href="{PreviousPage}">Newer posts</a>
        %tumblrblockNextPage
          %li.older <a class="button" href="{NextPage}">Older posts</a>
